html {
  font-family: arial, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 18px;
  line-height: 1.1;
}
