html {
  font-family: 'roboto', arial, sans-serif;
  font-size: 20px;
}

.keyboard {
  width: 100%;
  margin: 20px;
  box-sizing: border-box;
  height: auto;
  overflow: auto;
}

.keyboard div {
  float: left;
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 1px solid;
  display: inline;
  text-align: center;
}

.keyboard div:hover {
  -webkit-box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.5);
}

.letterspace {
border: 1px solid;
height: 350px;
width: 100%;
background-color: #888888;
}
