@font-face { font-family: 'font-bit'; src: url('Pixeled.ttf') format('truetype'); }

html {
  font-family: arial, sans-serif;
}

body {
  background-color: black;
}
canvas {
  height: 95vh;
  width: 95vw;
  max-height: 800px;
  max-width: 400px;
  padding: 0;
  margin: auto;
  display: block;
}
