@font-face { font-family: 'font-bit'; src: url('http://www.mattlag.com/bitfonts/bit5x3.ttf') format('truetype'); }

html {
  font-family: arial, sans-serif;
}

canvas {
  height: 95vh;
  width: 95vw;
  max-height: 800px;
  max-width: 400px;
  padding: 0;
  margin: auto;
  display: block;
}
